.con {
  padding: 0 0.21rem;
  flex: 1;
}

.delete_con {
  margin: 1rem;
}

.delete {
  border: 1px solid #750550;
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.33rem;
}
